<h3 *ngIf="isLoading"><i>Loading heroes ... </i></h3>
 <h3 *ngIf="!isLoading">Select a hero:</h3>
  <nav> <button (click)="getHeroes()" class="btn btn-primary">Refresh</button> 
    <button *ngFor="let hero of heroes | async" (click)="select(hero)" class="btn btn-primary">{{hero.name}}</button>
  </nav> <div *ngIf="selectedHero"> 
    <hr> <h2>Hero Detail</h2> 
    <h3>Editing: {{selectedHero.name}}</h3> 
    <app-hero-detail [hero]="selectedHero"></app-hero-detail> 
  </div>
